.container-products {
    height: 57vh;
    width: 80vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-register-products { /* formulário de cadastro dos produtos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}